{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'app/css.css' %}">
</head>
<body>
    <div class="container">

        <div class="settings-list">
            <h1>Parts of speech:</h1>

            <div class="settings-row">
                <input type="text" class="settings-input">
                <input type="button" value="save" class="button">
            </div>

            <div class="settings-row">
                <input type="text" class="settings-input">
                <input type="button" value="save" class="button">
            </div>

            <div class="settings-row">
                <input type="text" class="settings-input">
                <input type="button" value="save" class="button">
            </div>
             
            <input type="button" value="Add row" class="button">
        </div>

        <!-- <section class="main-button-section">
            <input type="button" class="button" value="Add word">
            <input type="button" class="button" value="Game">
            <input type="button" class="button" value="Settings">
        </section>


        <input type="text" class="main-search">

        <section>
            <div class="main-category">lol</div>
            <div class="main-category">kek</div>
            <div class="main-category">cheburek</div>
        </section>

        <section class="main-word-list">
            <div class="main-word">asdfasd</div>
            <div class="main-word">asdfasd</div>
            <div class="main-word">asdfasd</div>
            <div class="main-word">asdfasd</div>
        </section> -->

    </div>
    <script src="{% static 'app/bundle.js' %}"></script>
</body>
</html>