{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'app/css.css' %}">
</head>
<body>
    <div class="container">

        <section class="main-button-section">
            <input type="button" class="button" value="Add word">
            <input type="button" class="button" value="Game">
            <input type="button" class="button" value="Settings">
        </section>


        <input type="text" class="main-search">

        <section>
            <div class="main-category">lol</div>
            <div class="main-category">kek</div>
            <div class="main-category">cheburek</div>
        </section>

        <section class="main-word-list">
            <div class="main-word">asdfasd</div>
            <div class="main-word">asdfasd</div>
            <div class="main-word">asdfasd</div>
            <div class="main-word">asdfasd</div>
        </section>

    </div>

    <div class="foreground">
        <!-- <div class="new-word-form">

            <h1>New word</h1>

            <div class="new-word-row">
                <div class="new-word-left-column">
                    Original value:
                </div>
                <div class="new-word-right-column">
                    <input type="text" class="input">
                </div>
            </div>

            <div class="new-word-row">
                <div class="new-word-left-column">
                    Category:
                </div>
                <div class="new-word-right-column">
                    <select name="" id="">
                        <option value="">kek</option>
                        <option value="">lol</option>
                        <option value="">lol kek</option>
                    </select>
                </div>
            </div>

            <hr>

            <div class="new-word-row">
                <div class="new-word-left-column">
                    Part of scpeech:
                </div>
                <div class="new-word-right-column">
                    <select name="" id="">
                        <option value="">noun</option>
                        <option value="">verb</option>
                        <option value="">adjective</option>
                    </select>
                </div>
            </div>

            <div class="new-word-row">
                <div class="new-word-left-column">
                    Translated value:
                </div>
                <div class="new-word-right-column">
                    <input type="text" class="input">
                </div>
            </div>

            <div class="new-word-row">
                <div class="new-word-left-column">
                </div>
                <div class="new-word-right-column">
                    <input type="text" class="input">
                </div>
            </div>

            <div class="new-word-row">
                <div class="new-word-left-column">
                </div>
                <div class="new-word-right-column">
                    <input type="text" class="input">
                </div>
            </div>
            <hr>

            <div class="new-word-row">
                <div class="new-word-left-column">
                    Part of scpeech:
                </div>
                <div class="new-word-right-column">
                    <select name="" id="">
                        <option value="">noun</option>
                        <option value="">verb</option>
                        <option value="">adjective</option>
                    </select>
                </div>
            </div>

            <div class="new-word-row">
                <div class="new-word-left-column">
                    Translated value:
                </div>
                <div class="new-word-right-column">
                    <input type="text" class="input">
                </div>
            </div>

            <div>
                <div class="new-word-left-column"></div>
                <div class="new-word-right-column">
                    <input type="text" class="input">
                </div>
            </div>

            <div class="new-word-button-section">
                <input type="button" value="Cancel" class="button">
                <input type="button" value="Ok" class="button">
            </div>

        </div> -->
    </div>

    <script src="{% static 'app/bundle.js' %}"></script>
</body>
</html>