html, input {
    font-family: ubuntu;
}
input:focus {
    outline: none;
}

.container {
    width: 800px;
    margin: 20px auto 0px;
    /* background: rgb(255, 235, 235); */
}

.button {
    border: 1px rgb(104, 104, 104) solid;
    background: white;
    cursor: pointer;
    font-size: 16px;
    padding: 5px;
}

.button:hover {
    background: rgb(204, 204, 204);
}



.main-button-section {
    margin-bottom: 15px;
    float: right;
}

.main-search {
    width: 788px;
    font-size: 22px;
    border: 1px rgb(104, 104, 104) solid;
    box-shadow: 0px 1px 10px rgb(165, 165, 165);
    padding: 5px;
    margin-bottom: 15px;
}
.main-search:hover, .main-search:focus {
    box-shadow: 0px 3px 15px rgb(141, 141, 141);
}

.main-category {
    display: inline-block;
    padding: 5px;
    font-size: 16px;
    border: 1px rgb(104, 104, 104) solid;
    border-radius: 25px;
    margin-bottom: 15px;
    cursor: pointer;
}

.main-word-list {
    width: 785px;
    margin: auto;
}

.main-word {
    box-shadow: 0px 1px 10px rgb(165, 165, 165);
    padding: 5px;
    margin-bottom: 15px;
    font-size: 18px;
    cursor: pointer;
}



.settings-row {
    margin-bottom: 10px;
}

.settings-input, .settings-input-color {
    width: 200px;
    border: none;
    border-bottom: 1px solid;
    font-size: 18px;
    padding: 1px 3px;
    margin-right: 10px;
}

.settings-input-color {
    width: 50px;
}